button {
    padding: 0;
    margin: 0;
    color: #08c;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}
.app-sidebar {
    width: 30%;
    height: 100vh;
    border-right: 1px solid #ddd;
    background-color: rgb(178, 208, 208);
    min-width: 230px;
    max-width: 300px;
}

.small-app-sidebar {
    width: 4%;
    min-width: 50px;
    height: 100vh;
    border-right: 1px solid #ddd;
    background-color: rgb(29, 48, 48);
    color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.nav-btn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.small-app-sidebar button {
    color: white;
    padding: 10px 0;
}

.small-app-sidebar .circle-border {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    transform: scaleX(1.3);
}

.app-sidebar-header {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    border-bottom: 1px solid #ddd;
}

.app-sidebar-header h1 {
    margin: 0;
}

.app-sidebar-notes {
    height: calc(100vh - 78px);
    overflow-y: scroll;
}

.app-sidebar-note {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 180px;
    margin: 10px;
    padding: 25px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: rgb(202, 236, 236);
    border-radius: 5px;
    -moz-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.43);
    -ms-box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 3px 4px 7px 0px rgba(0, 0, 0, 0.43);
}

.app-sidebar-note:hover {
    background-color: #8fadad;
}

.app-sidebar-note.active {
    border: 3px solid rgba(0, 170, 255, 0.51);
}

.sidebar-note-title {
    display: flex;
    justify-content: space-between;
}

.app-sidebar-note p {
    margin: 10px 0;
    word-wrap: break-word;
}

.app-sidebar-note small {
    color: #999;
}